<div class="container">
<table class="table">
  <thead>
    <tr>
      <th>Historian</th>
      <th>Name</th>
      <th>Date born</th>
      <th>Place born</th>
      <th>Date died</th>
      <th>Place died</th>
      <th>Home country</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @historians.each do |historian| %>
      <tr>
        <td><%= historian.historian_id %></td>
        <td><%= historian.name %></td>
        <td><%= historian.date_born %></td>
        <td><%= historian.place_born %></td>
        <td><%= historian.date_died %></td>
        <td><%= historian.place_died %></td>
        <td><%= historian.home_country %></td>
        <td><%= link_to 'Show', historian %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Historian', new_historian_path %>
</div>
</div>

