<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<style>
body {
  padding-bottom: 60px;
  background-color: #EDECDF;
}
.fill{
   background-color: #A4C2C2; 
}
</style>
<div class="container">
<div class="jumbotron fill">
  <h1 class="display-4">Dictionary of Art Historians API</h1>
  <h4 class="lead">Welcome! This is the API for the Dictionary of Art Historians Project.</h4>
  <hr class="my-4">
  <h4>The Dictionary of Art Historians is a biographical database of western art historians. It stands as a free, scholarly resource for scholars, students, and publics and is continually updated. 
  This API has been developed to allow historians, developers, and technologists to explore and build off of this resource</p>
  <h4>The API allows for bulk downloads, query searches, and as a backend for web and mobile applications for other research teams. For a resource list and directions for querying the database, please see below</h4>
</div>

<% @doc[:resources].sort_by(&:first).each do |key, api| %>
  <h2>
    <a href='<%= api[:doc_url] %><%= @doc[:link_extension] %>'>
      <%= api[:name] %>
    </a>
    <% if api[:deprecated] %>
        <code>DEPRECATED</code>
    <% end %>
    <br>
    <small><%= api[:short_description] %></small>
  </h2>
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th><%= t('apipie.resource') %></th>
        <th><%= t('apipie.description') %></th>
      </tr>
    </thead>
    <tbody>
      <% api[:methods].each do |m| %>
        <% if !m[:show] %>
          <% next %>
        <% end %>
        <% m[:apis].each do |a| %>
          <tr>
            <td>
              <a href='<%= m[:doc_url] %><%= @doc[:link_extension] %>'><%= a[:http_method] %> <%= a[:api_url] %></a>
              <% if a[:deprecated] %>
                <code>DEPRECATED</code>
              <% end %>
            </td>
            <td width='60%'><%= a[:short_description] %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
<% end %>

<div class="card fill">
  <div class="card-body">
   <h4>Q: How do I query for all of the historians in the database?</h4>   
   <h5>A: curl http://localhost:3000/historians.json | json_pp</h4>
  </div>
</div>
<div class="card fill">
  <div class="card-body">
  <h4>Q: How do a single historian in the database?</h4> 
  <h5>A: curl http://localhost:3000/historians/30.json | json_pp</h4>
  </div>
</div>
<div class="card fill">
  <div class="card-body">
  <h4>Q: How do I search for a historians by name like...this name?</h4> 
  <h5>A: curl -G -H "Content-type: application/json" -d "q={\"filters\":[{\"name\":\"name\",\"op\":\"like\",\"val\":\"%Frederick%\"}]}" http://localhost:3000/historians.json | json_pp</h4>
  </div>
</div>
<div class="card fill">
  <div class="card-body">
  <h4>Q: How do I search for a historian by country?</h4> 
  <h5>A: curl -X GET 'http://localhost:3000/historians.json?home_country=Germany' | json_pp</h4>
  </div>
</div>



<% unless content_for(:apipie_footer) == @doc[:copyright] %>
  <%= content_for :apipie_footer, raw(@doc[:copyright]) %>
<% end %>
</div>
